:root {
    --primary-color: #ff007f;
    --text-color: #ffffff;
    --background-dark: #111;
    --background-darker: #0d0d0d;
    --border-color: #333;
    --box-shadow-color: rgba(255, 105, 180, 0.4);
    --box-shadow-light: rgba(255, 105, 180, 0.2);
  }
  